<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Thibault Clérice">
    <title>Balto Masqué</title>
    <link href="{{url_for("static", filename="bootstrap.min.css")}}" rel="stylesheet">
      <style>
          .number { width: 7%; }
          .navbar-brand { color:white; }
      </style>
  </head>
  <body class="bg-light">
    <header class="navbar navbar-light bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Masqué</a>
        <form class="d-flex" method="get">
            <select class="form-select form-select-sm" aria-label="Page to edit" name="page">
                {% for possible_page in pages %}
                <option value="{{possible_page}}" {% if possible_page == current_page %}selected{% endif %}>{{possible_page|nicename}}</option>
                {% endfor %}
            </select>
            <button class="btn btn-close-white" type="submit">Edit</button>
        </form>
      </div>
    </header>
    <div class="bd-cheatsheet container-fluid bg-body">
      <section id="content" class="p-4">
          {%block body%}
          {%endblock%}
      </section>
    </div>
  </body>
</html>
